@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Amiko", sans-serif;
}

.slider{
  height: 50vh;
}